.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  font-size: 48px;
  font-weight: 800;
  flex: 0;
  align-self: flex-start;
  padding-left: 24px;
  padding-top: 16px;
}

.ColumnHeader {
  font-size: 14px;
  flex: 0;
  align-self: flex-start;
  padding-top: 24px;
}

.ColumnHeaderTitle {
  padding-left: 18px;
}

.Products {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 16px;
}
