:root {
  --accent-yellow: #DFBD46;
  --accent-green: #a7e8d8;
  --accent-pink: #dba989;
  --neutral-dark: #162c3b;
  --neutral-mid: #5c6c76;
  --neutral-light: #e8eaec;
}

* {
  font-family: 'Quicksand', sans-serif;
  color: var(--neutral-dark);
}

.App {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
}

.App-link {
  color: #61dafb;
}

.left {
  padding-left: 48px;
}

.top {
  padding-top: 16px;
}

.app-name {
  flex: 0;
  align-self: flex-start;
  padding-top: 100px;
  text-align: left;
  max-width: 80%;
}

.hero {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.body {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.caption {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.align-start {
  align-self: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.padding {
  padding: 16px;
}