:root {
  --accent-yellow: #DFBD46;
  --accent-green: #a7e8d8;
  --accent-pink: #dba989;
  --neutral-dark: #162c3b;
  --neutral-mid: #5c6c76;
  --neutral-light: #e8eaec;
}

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--neutral-dark);
  max-width: 1440px;
}

.App-link {
  color: #61dafb;
}

.AppName {
  flex: 0;
  align-self: flex-start;
  padding-left: 48px;
  padding-top: 100px;
  text-align: left;
  max-width: 80%;
}

.TypogHero {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
}

.TypogTitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}

.TypogSubtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.TypogBody {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.TypogCaption {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.ColumnHeader {
  font-size: 14px;
  flex: 0;
  align-self: flex-start;
  padding-top: 24px;
}

.ColumnHeaderTitle {
  padding-left: 18px;
}

.Products {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 16px;
}

