:root {
  --accent-yellow: #DFBD46;
  --accent-green: #a7e8d8;
  --accent-pink: #dba989;
  --neutral-dark: #162c3b;
  --neutral-mid: #5c6c76;
  --neutral-light: #e8eaec;
}

.margin {
  margin: 16px;
}

.right-margin {
  margin-right: 16px;
}

.grow {
  flex-grow: 1;
}
